# Convert .MIDI files to texts
- create new song from text analytic results

In [1]:
# !pip install mido

In [2]:
import mido
import os

import pandas as pd

- Inspection

In [3]:
os.listdir("midi_file_theGuadianOfGalaxy")

['Aint-No-Mountain-High-Enough.mid',
 'Brandy-(Youre-Are-A-Fine-Girl).mid',
 'Never_gonna_give_you_up.mid',
 'Sweet-Fox_on_the_Run.mid',
 'FONTELLA_BASS.Rescue_me.mid',
 'BJ_Thomas-Hooked_on_a_Feeling.mid',
 'THE_RASCAL-Its_a_beautiful_morning.mid',
 'mommidi-steviewonder-superstition.mid',
 'Fooled-Around-And-Fell-In-Love.mid',
 'E-LIGHT_ORCH.Last_train_to_london.mid',
 'E.W.F.September K.mid',
 'JAMIROQUAY.Virtual_insanity.mid',
 'ELO-MrBlueSky.mid',
 'Escape-(Pina-Colada-Song).mid',
 'HotelCalifornia.mid',
 'akon-Lonely.mid',
 'toto-africa.mid',
 'Spirit-In-The-Sky.mid',
 'ComeAndGetYourLove.mid',
 'California-Dreaming.mid']

In [4]:
!pwd

/Users/hikarii/Documents/DATAScience/Github/NLP_TextAnalytics/MIDI_to_text

In [34]:
# for sam in mido.MidiFile("midi_file_theGuadianOfGalaxy/akon-Lonely.mid") :
#     if sam.type == 'note_on' :
#         print(sam)

- MIDI to Dataframe

In [35]:
# Midi notes to Dataframe

for i,name in enumerate(os.listdir("midi_file_theGuadianOfGalaxy")) :

    song = { 'midi_name' : [] ,'audio_channel' : [], 'time' : [] , 'notes' : [] }
    mid = mido.MidiFile("midi_file_theGuadianOfGalaxy/{midiname}" .format(midiname = name))

    for kk in mid :
        if kk.type == 'note_on' :
            song['midi_name'].append(name)
            song['notes'].append( kk.dict()['note'] )
            song['time'].append( kk.dict()['time'] )
            song['audio_channel'].append( kk.dict()['channel'] )

    if i == 0 :
        song_df = pd.DataFrame.from_dict(song)
    elif i > 0 :
        song_df = pd.concat([song_df, pd.DataFrame.from_dict(song)], ignore_index = True)

song_df

                               midi_name  audio_channel      time  notes
0       Aint-No-Mountain-High-Enough.mid              9  3.620680     38
1       Aint-No-Mountain-High-Enough.mid              9  0.239762     36
2       Aint-No-Mountain-High-Enough.mid              1  0.239762     57
3       Aint-No-Mountain-High-Enough.mid              2  0.000000     81
4       Aint-No-Mountain-High-Enough.mid              2  0.000000     83
...                                  ...            ...       ...    ...
174137           California-Dreaming.mid              9  0.000000     49
174138           California-Dreaming.mid              9  0.000000     35
174139           California-Dreaming.mid              2  0.030153     62
174140           California-Dreaming.mid              2  0.032894     65
174141           California-Dreaming.mid              2  0.030153     69

[174142 rows x 4 columns]

In [38]:
# Sort by name and time ascending

song_df = song_df.sort_values(by=['midi_name','audio_channel','time'], 
                    ascending=True).drop_duplicates().reset_index(drop=True)
display(song_df)

                              midi_name  audio_channel      time  notes
0      Aint-No-Mountain-High-Enough.mid              1  0.000000     40
1      Aint-No-Mountain-High-Enough.mid              1  0.000000     46
2      Aint-No-Mountain-High-Enough.mid              1  0.000000     47
3      Aint-No-Mountain-High-Enough.mid              1  0.000000     50
4      Aint-No-Mountain-High-Enough.mid              1  0.000000     52
...                                 ...            ...       ...    ...
12751                   toto-africa.mid              9  0.079787     44
12752                   toto-africa.mid              9  0.086436     44
12753                   toto-africa.mid              9  0.093085     44
12754                   toto-africa.mid              9  0.099734     44
12755                   toto-africa.mid              9  0.106383     44

[12756 rows x 4 columns]

- Notes arrangement