# Convert .MIDI files to texts
- create new song from text analytic results

In [1]:
# !pip install mido

In [2]:
import mido
import os

import pandas as pd

- Inspection

In [3]:
os.listdir("midi_file_theGuadianOfGalaxy")

['Aint-No-Mountain-High-Enough.mid',
 'Brandy-(Youre-Are-A-Fine-Girl).mid',
 'Never_gonna_give_you_up.mid',
 'Sweet-Fox_on_the_Run.mid',
 'FONTELLA_BASS.Rescue_me.mid',
 'BJ_Thomas-Hooked_on_a_Feeling.mid',
 'THE_RASCAL-Its_a_beautiful_morning.mid',
 'mommidi-steviewonder-superstition.mid',
 'Fooled-Around-And-Fell-In-Love.mid',
 'E-LIGHT_ORCH.Last_train_to_london.mid',
 'E.W.F.September K.mid',
 'JAMIROQUAY.Virtual_insanity.mid',
 'ELO-MrBlueSky.mid',
 'Escape-(Pina-Colada-Song).mid',
 'HotelCalifornia.mid',
 'akon-Lonely.mid',
 'toto-africa.mid',
 'Spirit-In-The-Sky.mid',
 'ComeAndGetYourLove.mid',
 'California-Dreaming.mid']

In [4]:
!pwd

/Users/hikarii/Documents/DATAScience/Github/NLP_TextAnalytics/MIDI_to_text

In [5]:
# for sam in mido.MidiFile("midi_file_theGuadianOfGalaxy/akon-Lonely.mid") :
#     if sam.type == 'note_on' :
#         print(sam)

- MIDI to Dataframe

- Version 1

In [6]:
# Midi notes to Dataframe (This is required method)

for i,name in enumerate(os.listdir("midi_file_theGuadianOfGalaxy")) :

    song = { 'midi_name' : [] ,'audio_channel' : [], 'time' : [] , 'notes' : [] }
    mid = mido.MidiFile("midi_file_theGuadianOfGalaxy/{midiname}" .format(midiname = name))

    for kk in mid :
        if kk.type == 'note_on' :
            song['midi_name'].append(name)
            song['notes'].append( kk.dict()['note'] )
            song['time'].append( kk.dict()['time'] )
            song['audio_channel'].append( kk.dict()['channel'] )

    if i == 0 :
        song_df = pd.DataFrame.from_dict(song)
    elif i > 0 :
        song_df = pd.concat([song_df, pd.DataFrame.from_dict(song)], ignore_index = True)

# Sort by name and time ascending

song_df = song_df.sort_values(by=['midi_name','audio_channel','time'], 
                    ascending=True).drop_duplicates().reset_index(drop=True)
display(song_df)

                              midi_name  audio_channel      time  notes
0      Aint-No-Mountain-High-Enough.mid              1  0.000000     40
1      Aint-No-Mountain-High-Enough.mid              1  0.000000     46
2      Aint-No-Mountain-High-Enough.mid              1  0.000000     47
3      Aint-No-Mountain-High-Enough.mid              1  0.000000     50
4      Aint-No-Mountain-High-Enough.mid              1  0.000000     52
...                                 ...            ...       ...    ...
12751                   toto-africa.mid              9  0.079787     44
12752                   toto-africa.mid              9  0.086436     44
12753                   toto-africa.mid              9  0.093085     44
12754                   toto-africa.mid              9  0.099734     44
12755                   toto-africa.mid              9  0.106383     44

[12756 rows x 4 columns]

In [7]:
song_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12756 entries, 0 to 12755
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   midi_name      12756 non-null  object
 1   audio_channel  12756 non-null  int64
 2   time           12756 non-null  float64
 3   notes          12756 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 398.8+ KB

- Version 2 : Notes arrangement

In [8]:
# combine notes to texts
for i,name in enumerate(song_df['midi_name'].unique()) :
    midi_nlp = { 'name':[], 'note_by_time':[] }
    note = song_df.loc[ song_df['midi_name'] == name ]['notes']
    nn = ''
    for nts in note :
        nn += " {n}" .format(n=nts)
    midi_nlp['note_by_time'].append(nn)
    midi_nlp['name'].append(name)

    if i == 0 :
        df = pd.DataFrame.from_dict(midi_nlp)
    elif i > 0 :
        df = pd.concat([df, pd.DataFrame.from_dict(midi_nlp)], ignore_index = True)

df

,name,note_by_time
0,Aint-No-Mountain-High-Enough.mid,40 46 47 50 52 45 57 43 53 58 41 48 51 55 44 ...
1,BJ_Thomas-Hooked_on_a_Feeling.mid,31 30 35 33 18 38 21 50 40 35 37 30 33 19 39 ...
2,Brandy-(Youre-Are-A-Fine-Girl).mid,30 35 28 32 35 49 35 33 35 33 28 32 30 37 28 ...
3,California-Dreaming.mid,38 33 34 41 36 43 40 34 36 34 33 41 38 43 40 ...
4,ComeAndGetYourLove.mid,67 52 59 71 74 64 73 76 57 45 69 62 66 50 78 ...
5,E-LIGHT_ORCH.Last_train_to_london.mid,76 71 83 69 81 72 84 67 79 64 74 71 74 76 69 ...
6,E.W.F.September K.mid,51 62 65 67 70 60 64 69 41 53 55 57 43 58 46 ...
7,ELO-MrBlueSky.mid,69 77 74 81 76 79 63 65 62 64 67 70 73 75 72 ...
8,Escape-(Pina-Colada-Song).mid,41 60 53 57 45 62 43 65 24 64 28 59 67 26 40 ...
9,FONTELLA_BASS.Rescue_me.mid,67 71 66 69 69 72 67 71 68 67 69 66 71 67 72 ...
10,Fooled-Around-And-Fell-In-Love.mid,41 41 45 40 39 36 38 32 33 43 41 48 50 34 46 ...
11,HotelCalifornia.mid,42 47 54 59 62 66 49 58 61 45 52 57 64 56 50 ...
12,JAMIROQUAY.Virtual_insanity.mid,66 68 53 65 63 64 70 61 47 35 36 60 58 54 39 ...
13,Never_gonna_give_you_up.mid,70 70 61 65 65 70 68 56 68 65 70 63 70 60 68 ...
14,Spirit-In-The-Sky.mid,31 33 31 36 26 33 38 41 35 28 40 43 34 31 26 ...
15,Sweet-Fox_on_the_Run.mid,64 71 68 78 76 87 73 66 69 62 70 83 80 90 75 ...
16,THE_RASCAL-Its_a_beautiful_morning.mid,39 38 43 41 36 44 46 48 34 35 40 31 32 33 37 ...
17,akon-Lonely.mid,48 53 55 43 45 47 52 31 40 35 36 33 41 43 52 ...
18,mommidi-steviewonder-superstition.mid,44 46 49 51 27 39 54 56 66 61 58 57 37 50 34 ...
19,toto-africa.mid,57 52 61 51 59 56 64 58 63 54 69 68 66 62 61 ...

- Version 3

In [9]:
# # Version 1 is required for this method
# print("Before sum up")

# complx_df = pd.DataFrame(song_df.groupby(by=['midi_name','audio_channel','time'])['notes'].apply(lambda x: list(x)))
# complx_df = song_df.merge( complx_df, how='left',left_on= ['midi_name','audio_channel','time'],
#                           right_on= ['midi_name','audio_channel','time'] )

# complx_df = complx_df.drop(columns='notes_x')
# complx_df['notes_y'] = complx_df['notes_y'].apply(lambda x: str(x))

# complx_df = complx_df.drop_duplicates().reset_index(drop=True)

# display(complx_df)

# # sum up
# print("After")

# for i,name in enumerate(complx_df['midi_name'].unique()) :
#     midi_nlp = { 'name':[],'channel' :[], 'note_by_time':[] }
#     note = complx_df.loc[ complx_df['midi_name'] == name ]['notes_y']
#     audio_chn = complx_df.loc[ complx_df['midi_name'] == name ]['audio_channel']
#     nn = ''
#     chanl = None
#     for chn,nts in zip(audio_chn,note) :
#         nn += " {n}" .format(n=nts)
        
#         if chanl == None :
#             chanl = chn
#         elif chanl != chn :
#             midi_nlp['channel'].append(chanl)
#             midi_nlp['name'].append(name)
#             midi_nlp['note_by_time'].append(nn)
#             nn = ''
#             chanl = chn

#     if i == 0 :
#         c_df = pd.DataFrame.from_dict(midi_nlp)
#     elif i > 0 :
#         c_df = pd.concat([c_df, pd.DataFrame.from_dict(midi_nlp)], ignore_index = True)

# display(c_df)

# Text Analytics ( N-gram )

In [10]:
# !pip install --user -U nltk

In [11]:
# import nltk
# nltk.download('punkt')

- Example

In [12]:
# NLTK function to generate ngrams
import nltk
from nltk.util import ngrams
 
samplText='this is a very good book to study'
NGRAMS=ngrams(sequence=nltk.word_tokenize(samplText), n=3)
for grams in NGRAMS:
    print(grams)

('this', 'is', 'a')
('is', 'a', 'very')
('a', 'very', 'good')
('very', 'good', 'book')
('good', 'book', 'to')
('book', 'to', 'study')

- Unigram from data ver.2

In [13]:
# from nltk.util import ngrams 

sText = ''
for note in df['note_by_time']:
    sText += ' '+str(note)

# Create Unigram

u_df = [ u for u in ngrams( sequence = nltk.word_tokenize(sText), n = 1 ) ]

uni_df = { 'notes_unigram':[], 'counts':[] }
for cnt in u_df:     
    counts = u_df.count(cnt)
    if cnt not in uni_df['notes_unigram']:
        uni_df['notes_unigram'].append(cnt)
        uni_df['counts'].append(counts)

uni_df = pd.DataFrame.from_dict( uni_df )
uni_df = uni_df.sort_values( by = 'counts', ascending = False ).reset_index( drop=True )
# uni_df['notes_unigram'] = uni_df['notes_unigram'].astype(str)

uni_df

   notes_unigram  counts
0          (62,)     462
1          (38,)     421
2          (57,)     349
3          (69,)     343
4          (66,)     334
..           ...     ...
79        (101,)       1
80         (94,)       1
81        (108,)       1
82        (107,)       1
83        (105,)       1

[84 rows x 2 columns]

- Bigram performing using data version 2

In [14]:
# Bigram to Dataframe

b_df = [ i for i in ngrams( sequence = nltk.word_tokenize(sText), n = 2 ) ]

bigram_df = { 'notes_bigram':[], 'counts':[] }
for cnt in b_df:     
    counts = b_df.count(cnt)
    if cnt not in bigram_df['notes_bigram']:
        bigram_df['notes_bigram'].append(cnt)
        bigram_df['counts'].append(counts)

bigram_df = pd.DataFrame.from_dict( bigram_df )
bigram_df = bigram_df.sort_values( by = 'counts', ascending = False ).reset_index( drop=True )
# bigram_df['notes_bigram'] = bigram_df['notes_bigram'].astype(str)

bigram_df

     notes_bigram  counts
0        (42, 42)      75
1        (38, 38)      49
2        (64, 62)      44
3        (38, 44)      38
4        (35, 38)      37
...           ...     ...
2394     (84, 53)       1
2395     (51, 65)       1
2396     (52, 72)       1
2397     (59, 49)       1
2398     (89, 41)       1

[2399 rows x 2 columns]

In [15]:
bigram_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   notes_bigram  2399 non-null   object
 1   counts        2399 non-null   int64
dtypes: int64(1), object(1)
memory usage: 37.6+ KB

In [16]:
print(type(bigram_df.iloc[0,0]))

bigram_df.iloc[0,0]

<class 'tuple'>

('42', '42')

# create bigram dataframe with probability

In [17]:
temp_df = { 'b_notes':[], 'uni_of_first_tuple':[] }
for k,coun in zip(uni_df['notes_unigram'],uni_df['counts']):
    bi_count = [e for e in bigram_df['notes_bigram'] if e[0].startswith(k[0])]

    for cc in bi_count:
        temp_df['b_notes'].append(cc)
        temp_df['uni_of_first_tuple'].append( coun )

temp_df = pd.DataFrame.from_dict( temp_df )

# create bigram dataframe with probability

new_df = pd.merge( bigram_df,temp_df, how='left', left_on='notes_bigram', right_on='b_notes' ).drop(columns='b_notes')
new_df['prob'] = new_df['counts']/new_df['uni_of_first_tuple']

new_df = new_df.sort_values(by='prob', ascending=False).reset_index(drop=True)
new_df

     notes_bigram  counts  uni_of_first_tuple      prob
0      (107, 105)       1                   1  1.000000
1        (94, 84)       1                   1  1.000000
2       (105, 55)       1                   1  1.000000
3      (108, 107)       1                   1  1.000000
4        (18, 38)       4                   4  1.000000
...           ...     ...                 ...       ...
2394     (62, 91)       1                 462  0.002165
2395     (62, 40)       1                 462  0.002165
2396     (62, 29)       1                 462  0.002165
2397     (62, 35)       1                 462  0.002165
2398    (62, 108)       1                 462  0.002165

[2399 rows x 4 columns]

# tools for creating new midi file
- filter tool

In [43]:
# Filter to find out

filter_val = '53'
b_count = [e for e in bigram_df['notes_bigram'] if e[0].startswith(filter_val)]

display( new_df.loc[ new_df['notes_bigram'].isin(b_count) ]
        .sort_values(by='prob',ascending=False) )

     notes_bigram  counts  uni_of_first_tuple      prob
50       (53, 53)      32                 220  0.145455
281      (53, 55)      15                 220  0.068182
368      (53, 60)      13                 220  0.059091
369      (53, 62)      13                 220  0.059091
370      (53, 65)      13                 220  0.059091
501      (53, 58)      11                 220  0.050000
636      (53, 51)       9                 220  0.040909
637      (53, 36)       9                 220  0.040909
738      (53, 38)       8                 220  0.036364
742      (53, 56)       8                 220  0.036364
821      (53, 44)       7                 220  0.031818
820      (53, 52)       7                 220  0.031818
927      (53, 39)       6                 220  0.027273
928      (53, 57)       6                 220  0.027273
1068     (53, 46)       5                 220  0.022727
1226     (53, 54)       4                 220  0.018182
1228     (53, 59)       4                 220  0.018182
1229     (53, 67)       4                 220  0.018182
1231     (53, 61)       4                 220  0.018182
1403     (53, 73)       3                 220  0.013636
1405     (53, 48)       3                 220  0.013636
1404     (53, 49)       3                 220  0.013636
1401     (53, 47)       3                 220  0.013636
1402     (53, 66)       3                 220  0.013636
1400     (53, 43)       3                 220  0.013636
1696     (53, 76)       2                 220  0.009091
1704     (53, 68)       2                 220  0.009091
1703     (53, 50)       2                 220  0.009091
1701     (53, 72)       2                 220  0.009091
1702     (53, 63)       2                 220  0.009091
1693     (53, 69)       2                 220  0.009091
1689     (53, 70)       2                 220  0.009091
1688     (53, 64)       2                 220  0.009091
1686     (53, 77)       2                 220  0.009091
2115     (53, 31)       1                 220  0.004545
2116     (53, 98)       1                 220  0.004545
2117     (53, 37)       1                 220  0.004545
2118     (53, 71)       1                 220  0.004545
2119     (53, 29)       1                 220  0.004545
2120     (53, 75)       1                 220  0.004545

In [19]:
# Filter to find out

filter_val_uni = '62'
dis = uni_df[uni_df['notes_unigram'] == (filter_val_uni,)]
display(dis)

print(F"Number of Unigrams that start with {filter_val_uni} is { dis['counts'][0] }")

  notes_unigram  counts
0         (62,)     462

Number of Unigrams that start with 62 is 462

# Notes

In [44]:
# notes preservation

snote = {
42:[42,36,40],
36:[42,38,36],
38:[38,44,36],
44:[38,36,44],

62:[64,69,59],
64:[62,67,59],
59:[57,62,64],
67:[64,69,72],

57:[57,55,61],
69:[67,74,66],
72:[70,74,77],
74:[77,72,79],

77:[72,79,74],
79:[77,74,76],
66:[62,69,64],
70:[65,72,74],

65:[63,67,60],
63:[61,65,68],
68:[66,68,71],
71:[69,74,67],

54:[54,42,57],
55:[57,53,60],
60:[60,62,58],
53:[53,55,60],

}

snote[42]

[42, 36, 40]