In [1]:
import sys
import pandas as pd
import numpy as np

print(F"Python ver : {sys.version}\nPandas ver : {pd.__version__}\nNumpy ver : {np.__version__}")

Python ver : 3.10.9 (main, Mar  1 2023, 12:33:47) [Clang 14.0.6 ]
Pandas ver : 2.0.3
Numpy ver : 1.25.1

In [2]:
text_files = pd.read_csv('avengers_sentence.csv')
text_files.tail(5)

,sentence,topic
5,"""The Avengers. That's what we call ourselves. ...",avengers
6,"""My friend, he told me that it was better to f...",thor - avengers
7,"""Are you happy?""\n""That's an interesting quest...",docter strange
8,"""I really did try to help you. I mean, I could...",peter parker - spider man
9,The Guardians of the Galaxy are a team of inte...,the guardians of the galaxy

In [3]:
text_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  10 non-null     object
 1   topic     10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

documents = text_files['sentence']

tfidf = TfidfVectorizer(min_df=1, stop_words="english").fit_transform(documents)
# no need to normalize, since Vectorizer will return normalized tf-idf
pairwise_similarity = tfidf * tfidf.T

In [5]:
# find an index of the documents we interesed

# this method will find the index of our interested document

findingtopic = 'docter strange'
ind = text_files.loc[text_files['topic'] == findingtopic ].index[0]

# perform cosine similarity

arr = pairwise_similarity.toarray()

###############################################################
# find the index of the most similar document using this method
# This method will replace np values on diagonal line with NaN

np.fill_diagonal(arr, np.nan) 

# so we can use this method to get the index of the most similar document

result_ind = np.nanargmax(arr[ind])

# see details

text_files.iloc[result_ind]

sentence    "I really did try to help you. I mean, I could...
topic                               peter parker - spider man
Name: 8, dtype: object

# Scores

In [6]:
arr

array([[       nan, 0.11166974, 0.06960237, 0.05860446, 0.05051452,
        0.20370969, 0.05208252, 0.0691245 , 0.10308284, 0.03406958],
       [0.11166974,        nan, 0.1053913 , 0.11620109, 0.11083364,
        0.28247846, 0.13865897, 0.10249381, 0.23692998, 0.07087939],
       [0.06960237, 0.1053913 ,        nan, 0.10059244, 0.03916435,
        0.19684713, 0.09490542, 0.06756203, 0.08567109, 0.10487506],
       [0.05860446, 0.11620109, 0.10059244,        nan, 0.09788973,
        0.13920884, 0.07592365, 0.05521554, 0.07189747, 0.06592604],
       [0.05051452, 0.11083364, 0.03916435, 0.09788973,        nan,
        0.1747698 , 0.17564343, 0.08495251, 0.06855363, 0.16429706],
       [0.20370969, 0.28247846, 0.19684713, 0.13920884, 0.1747698 ,
               nan, 0.25452131, 0.13147957, 0.18274157, 0.26875808],
       [0.05208252, 0.13865897, 0.09490542, 0.07592365, 0.17564343,
        0.25452131,        nan, 0.09581763, 0.07687902, 0.17445305],
       [0.0691245 , 0.10249381, 0.06756203, 0.05521554, 0.08495251,
        0.13147957, 0.09581763,        nan, 0.2575402 , 0.06146792],
       [0.10308284, 0.23692998, 0.08567109, 0.07189747, 0.06855363,
        0.18274157, 0.07687902, 0.2575402 ,        nan, 0.06457227],
       [0.03406958, 0.07087939, 0.10487506, 0.06592604, 0.16429706,
        0.26875808, 0.17445305, 0.06146792, 0.06457227,        nan]])